.header__nav-button--getdemo:hover {
    background: var(--secondary-text-colour);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid white;
}

.header__nav-button--login:hover {
    background: var(--secondary-text-colour);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__main-button--register {
    transition: box-shadow 0.4s ease-in-out;
}

.header__main-button--register:hover {
    box-shadow:
        0 0 100px 10px rgba(212, 58, 255, 0.788),
        0 0 400px 40px rgba(170, 50, 255, 0.329),
        0 0 800px 80px rgba(238, 50, 255, 0.247);
}

.footer__btn {
    transition: all 0.4s ease-in-out;
}

.footer__btn:hover {
    background: var(--third-text-colour);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    box-shadow:
        0 0 100px 10px rgba(212, 58, 255, 0.788),
        0 0 400px 20px rgba(170, 50, 255, 0.329),
        0 0 800px 20px rgba(238, 50, 255, 0.247);
    border: 1px solid rgb(150, 3, 150);
}

.curse__card--link:hover {
    box-shadow:
        0 0 50px 1px rgba(58, 124, 255, 0.788),
        0 0 80px 2px rgba(50, 118, 255, 0.329),
        0 0 100px 10px rgba(50, 118, 255, 0.247);
}

.continue__with--button:hover {
    background: var(--third-text-colour);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    box-shadow:
        0 0 50px 5px rgba(217, 80, 255, 0.788),
        0 0 200px 5px rgba(231, 50, 255, 0.801),
        0 0 200px 5px rgba(240, 73, 255, 0.616);
    border: 1px solid rgb(85, 1, 85);
}