@layer reset, layout, component;

:root {
  --h1: 3rem;
  --normal-text: 1.4rem;
}

* {
  font-family: "Roboto";
}
@layer component {
  a {
    text-decoration: none;
  }
}

@layer layout {
  /* ----- navigace ----- */

  .header__nav {
    display: flex;
    border-radius: 40px;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 0.5rem 1rem;
    border: 0px 0px 0px 1px solid white;
    flex-wrap: wrap;
  }
  .header__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--normal-text);
    font-weight: bold;
  }
  .header__nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: var(--normal-text);
    flex-wrap: wrap;
  }
  .header__nav-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: var(--normal-text);
    flex-wrap: wrap;
  }
  .header__nav-dev-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .header__nav-button--getdemo {
    padding: 0.5em 2em;
    border-radius: 25px;
    border: 1px solid rgb(255, 255, 255);
  }
  .header__nav-button--login {
    padding: 0.5em 2em;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
  }
}
